.input_textarea_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #495b64;
  color: #ece5dd;
  border: none;
  border-radius: 20px;
}

.chat_replay_message_input {
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  font-size: 10px;
  white-space: pre-wrap;
  background-color: #3a484f;
  border: none;
}

.chat_replay_message_output_team {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 10px;
  white-space: pre-wrap;
  background-color: #027a6c;
  border-right: 5px solid;
}

.chat_replay_message_output_self {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 10px;
  white-space: pre-wrap;
  background-color: #c0f299;
  border-left: 5px solid;
}

.chat_replay_message_input_self > p {
  margin: 0;
  padding: 5px;
  white-space: pre-wrap;
}

.chat_replay_message_output_self > p {
  margin: 0;
  padding: 5px;
  white-space: pre-wrap;
}

.chat_replay_message_input_team > p {
  margin: 0;
  padding: 5px;
  white-space: pre-wrap;
}

.chat_replay_message_output_team > p {
  margin: 0;
  padding: 5px;
  white-space: pre-wrap;
}
